* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--swiper-theme-color: #4b4d53;
	--swiper-navigation-size: 30px;
	--swiper-navigation-sides-offset: 40px;
	--swiper-pagination-bottom: 20px;
	--swiper-pagination-color: #afb3c0;
	--swiper-pagination-bullet-inactive-color: #36373c;
	--swiper-pagination-bullet-inactive-opacity: 1;
}

body {
	color: #fff;
	margin: 0;
	background-color: black;
}

.blur-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/background.jpg") no-repeat center center;
	background-size: cover;
	filter: blur(8px);
	z-index: -1;
}

.content {
	position: relative;
	z-index: 1;
	height: 200vh;
}

.container {
	margin: auto;
	max-width: 840px;
	padding: 0 20px;
}

.container-top {
	display: flex;
	justify-content: space-between;
}

.top-line {
	position: absolute;
	background-color: black;
	width: 100%;
	z-index: 10;
	padding: 1.7rem 0;
	height: 70px;
}

.logo {
	border: 3px solid #E1E6F7;
	border-radius: 10em;
	width: 70px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: .75;
	margin-top: -17.5px;
}

.logo img {
	width: 37px;
	height: auto;
}

.main-mnu {
	display: flex;
	font-size: 19px;
	margin-right: -16px;
}

.main-mnu li {
	list-style: none;
}

@font-face {
	font-family: Klukva;
	src: url("../fonts/klukva.otf") format("opentype");
}

.main-mnu a {
	color: #bbbec9;
	padding: 12px;
	font-family: 'Klukva';
	font-size: 22px;
	text-decoration: none;
	font-weight: 200;
	margin: 4px;
	cursor: pointer;
}

.main-mnu a:hover {
	text-decoration: underline;
}

.aboutus-containter,
.questions-containter,
.contact-containter {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#aboutus, #questions, #contact {
	position: absolute;
	top: 50%;
	right: -15px;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

#container-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#message {
	position: relative;
	text-align: center;
	max-width: 80%;
	font-family: 'Courier New';
	font-size: 22px;
	font-weight: bolder;
	color: white;
	bottom: 270px;
}

#containter-video-youtube {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 0;
}

#youtubeVideo {
	position: relative;
	bottom: 350px;
	border: 2.5px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 30px white;
	width: 100%;
	max-width: 560px;
}

#containter-video-youtube,
#youtubeVideo {
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.green-text {
	color: green;
}

.blue-text {
	color: rgb(0, 195, 255);
}

@font-face {
	font-family: 'Multiround';
	src: url("../fonts/MultiroundPro.otf");
}

.container-category, .container-text {
	width: 100%;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 15px white;
	color: black;
	font-family: "Multiround";
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.container-category {
	max-width: 770px;
}

.container-text {
	max-width: 1000px;
}

.container-text.visible,
.container-category.visible {
	transition: 1s;
	opacity: 1;
	transform: translateY(0);
}

.container-text p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 15px;
	color: #555;
}

.containter-text ul {
	margin-bottom: 20px;
	padding-left: 20px;
}

.container-text ul li {
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	font-size: 24px;
}

h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 20px;
}

.category {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.category .dot {
	width: 20px;
	height: 20px;
	background-color: teal;
	border-radius: 50%;
	margin-right: 10px;
}

.category span {
	font-size: 16px;
}

/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
	.main-mnu {
		display: flex;
		margin-right: 15px;
		justify-content: center;
	}

	.main-mnu a {
		font-size: 18px;
		padding: 10px;
	}

	.main-mnu img {
		display: flex;
		margin-right: 3px;
	}

	.container {
		padding: 0 10px;
	}

	#message {
		font-size: 18px;
		bottom: 150px;
	}

	#youtubeVideo {
		position: relative; 
		display: flex;/* Понижаем видео на 200 пикселей для мобильных */
		width: 90%; /* Ширина видео на мобильных */ 
		height: 300px;
	}

	.container-category,
	.container-text {
		padding: 15px;
		position: relative;
		left: 18px; /* Перемещение контейнеров влево */
		max-width: 90%; /* Уменьшаем максимальную ширину для мобильных */
		height: auto; /* Авто высота для контейнеров на мобильных */
		margin-top: 200px; /* Отступ сверху для контейнеров */
		opacity: 1; /* Убедимся, что они видны */
		transform: translateY(0); /* Убираем смещение по оси Y */

	}
}
